<div class="header" id="header"> 
    {{#if isLoggedIn}}
        <h2>Bienvenido <br> {{user.role}} {{user.firstName}} {{user.lastName}}</h2>
        <input type="hidden" id="cartId" value="{{cartId}}">
        <div id="headerBtns">
            <button id="viewCartBtn" class="viewCartBtn"><i class="fa-solid fa-cart-shopping"></i>Ver Carrito</button>
            <br>    
            <form action="/logout" method="GET">
                <button id="logoutBtn" class="logoutBtn" type="submit"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
            </form>
        </div>  
    </div>
    
    {{/if}}
</div>
<div class="listaProductos" id="listaProductos">
    <div class="cart-summary">
        <h3>Total: {{cart.totalPrice}}</h3>
        <button id="purchaseBtn" class="purchase-btn">Realizar Compra</button> 
    </div>
    <h2>Detalles del Carrito</h2>
    {{#if cart}}
        <div class="cart-items">
            {{#each cart.items}}
                <div class="cart-item">
                    <div class="cart-item-info">
                        <h4>ID PRODUCTO:</h4><p>{{productId}}</p>
                        <h4>NOMBRE:</h4><p>{{title}}</p>
                        <h4>PRECIO:</h4><p>{{price}}</p>
                        <h4>CANTIDAD:</h4><p>{{quantity}}</p>
                    </div>
                    <button class="remove-item-btn" data-product-id="{{productId}}">Eliminar</button>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>No hay productos en tu carrito.</p>
    {{/if}}
</div>


