<input type="hidden" id="cartId" value="{{cartId}}">
<div class="header" id="header"> 
    {{#if isLoggedIn}}
    <div>
        <h1>Bienvenido {{user.role}} {{user.firstName}} {{user.lastName}}</h1>
    </div>
    <div>
        <button id="viewCartBtn" class="viewCartBtn">Ver Carrito</button>

        <form action="/logout" method="GET">
            <button id="logoutBtn" class="logoutBtn" type="submit">Logout</button>
        </form>
    </div>  
    {{/if}}
</div>

<div class="listaProductos" id="listaProductos">
    <h2>Detalles del Carrito</h2>
    {{#if cart}}
        <div class="cart-items">
            {{#each cart.items}}
                <div class="cart-item">
                    <h4>ID PRODUCTO: </h4><p>{{productId}}</p>
                    <h4>NOMBRE: </h4><p>{{title}}</p>
                    <h4>PRECIO: </h4><p>{{price}}</p>
                    <h4>CANTIDAD: </h4><p>{{quantity}}</p>
                    <button class="remove-item-btn" data-product-id="{{productId}}">Eliminar</button>
                </div>
            {{/each}}
        </div>
        <h3>Total: {{cart.totalPrice}}</h3>
        <button id="purchaseBtn" class="purchase-btn">Realizar Compra</button> <!-- Agregado -->
    {{else}}
        <p>No hay productos en tu carrito.</p>
    {{/if}}
</div>

