<div class="header" id="header"> 
    {{#if isLoggedIn}}
    <div>
            <h1>Bienvenido {{user.firstName}} {{user.lastName}}</h1>
    </div>
    <div>
        <form action="/logout" method="GET">
            <button id="logoutBtn" class="logoutBtn" type="submit">Logout</button>
        </form>
    </div>  
    {{/if}}
</div>



<div id="prodMasChat" class="prodMasChat">
    <div class="listaProd" id="productos">
    {{#each products}}
        <div class="listaProductos" id="listaProductos">
            <h4>ID PRODUCTO: {{id}}</h4>
            <h4>NOMBRE: {{title}}</h4>
            <h4>DESCRIPCION: {{description}}</h4>
            <h4>PRECIO: {{price}}</h4>
            <h4>IMAGENES: {{thumbnails}}</h4>
            <h4>CODIGO: {{code}}</h4>
            <h4>STOCK: {{stock}}</h4>
            <h4>CATEGORIA: {{category}}</h4>
            <button class="add-to-cart-btn" data-product-id="<%= product._id %>">Agregar al carrito</button>
        </div>
    {{/each}}
    </div>

</div>


{{!-- {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&category={{query.category}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&category={{query.category}}">Siguiente</a>
    {{/if}}
 --}}