<div class="header" id="header"> 
    {{#if isLoggedIn}}
    <div>
            <h1>Bienvenido {{user.role}} {{user.firstName}} {{user.lastName}}</h1>
    </div>
    <div>
        <form action="/logout" method="GET">
            <button id="logoutBtn" class="logoutBtn" type="submit">Logout</button>
        </form>
    </div>  
    {{/if}}
</div>



<div id="prodMasChat" class="prodMasChat">
    <div class="listaProd" id="productos">
    {{#each products}}
        <div class="listaProductos" id="listaProductos">
            <h4>ID PRODUCTO: </h4><p>{{id}}</p>
            <h4>NOMBRE: </h4><p>{{title}}</p>
            <h4>DESCRIPCION: </h4><p>{{description}}</p>
            <h4>PRECIO: </h4><p>{{price}}</p>
            <h4>IMAGENES: </h4><p>{{thumbnails}}</p>
            <h4>CODIGO: </h4><p>{{code}}</p>
            <h4>STOCK: </h4><p>{{stock}}</p>
            <h4>CATEGORIA: </h4><p>{{category}}</p>
            <button class="add-to-cart-btn" data-product-id="<%= product._id %>">Agregar al carrito</button>
        </div>
    {{/each}}
    </div>

</div>


{{!-- {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit={{limit}}&sort={{sort}}&category={{query.category}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit={{limit}}&sort={{sort}}&category={{query.category}}">Siguiente</a>
    {{/if}}
 --}}